:root {
  --peach: #ffcda2;
  --black1: #17171f;
  --white1: #f0f0f5;
  --green: #5b7b7a;
  --lipurple: #ccccff;
  --dapurple: #624cab;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR & FOOTER */

nav {
  width: 100%;
  height: 7vh;
  background-color: var(--green);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.leftnav {
  padding-left: 2vw;
}

.leftnav * {
  text-decoration: none;
  border: 1px solid var(--black1);
  padding: 1vh 1.5vw;
  border-radius: 15px;
}

.rightnav {
  padding-right: 2vw;
}

.register {
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.register:hover {
  background-color: var(--peach);
}

.registerlog {
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: lightcoral;
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.registerlog:hover {
  background-color: darkred;
  color: white;
}

.login {
  margin-left: 1vw;
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login:hover {
  background-color: var(--peach);
}

.loginlog {
  margin-left: 1vw;
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.loginlog:hover {
  background-color: var(--peach);
}

.loginlog img {
  /* background-color: azure; */
  display: inline-block;
  vertical-align: -4px;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  /* min-width: 160px; */
  margin-right: 16px;
  width: max-content;
  z-index: 5;
  background-color: var(--white1);
  border: 1px solid var(--dapurple);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: var(--peach);
}

footer {
  background-color: var(--green);
  width: 100%;
  height: 7vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

footer div {
  margin-right: 2vw;
}

#home {
  min-height: 86vh;
  position: relative;
  background-image: url(naamat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hometext {
  color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.regbutton {
  height: 5vh;
  padding: 0.5vh 1vw;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.regbutton:hover {
  background-color: var(--peach);
  /* background-color: rgb(26, 25, 25); */
  color: black;
  /* color: white; */
}

/* NOTIFY */
.notification {
  grid-column: 1 / span 2;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  padding: 1vw;
}

/* REGISTER */

#register {
  background-color: var(--lipurple);
  min-height: 86vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(naamat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.registerForm {
  padding: 5vw;
  max-width: 500px;
  max-height: 500px;
  border: 1px solid var(--dapurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--white1);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.grid-container > div {
  padding: 0.5vw;
}

.regformbutton {
  grid-column: 1 / span 2;
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.regformbutton:hover {
  background-color: var(--peach);
}

.regformbutton2 {
  grid-column: 1 / span 2;
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.regformbutton2:hover {
  background-color: var(--peach);
}

.regmsg {
  grid-column: 1 / span 2;
  color: red;
  padding: 2px;
}

.regmsg li {
  font-size: smaller;
  font-weight: lighter;
  padding-left: 1vw;
}

.custom-file-input {
  display: inline-block;
  padding: 0.5vw;
  background-color: var(--lipurple);
  border: 1px solid var(--black1);
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-file-input:hover {
  background-color: var(--peach);
}

.file-input {
  display: none;
}

.locationButton {
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.locationButton:hover {
  background-color: var(--peach);
}
