:root {
  --peach: #ffcda2;
  --midpeach: #ffe1c6;
  --lipeach: #fffbf8;
  --black1: #17171f;
  --white1: #f0f0f5;
  --green: #5b7b7a;
  --lipurple: #ccccff;
  --dapurple: #624cab;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-container {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 10vh;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

/* NAVBAR & FOOTER */

.logo {
  width: 150px;
}

@media (max-width: 500px) {
  .logo {
    content: url("images/logo.png");
    width: 60px;
  }
}

nav {
  width: 100%;
  height: 7vh;
  background-color: var(--green);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.leftnav {
  padding-left: 2vw;
  display: flex;
  align-items: center;
}

.leftnav a {
  display: flex;
  align-items: center;
}

.leftnav img {
  max-width: 100%;
  height: auto;
}

.leftnav * {
  text-decoration: none;
  /* border: 1px solid var(--black1); */
  padding: 1vh 1.5vw;
  border-radius: 15px;
}

.rightnav {
  padding-right: 2vw;
}

.register {
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.register:hover {
  background-color: var(--peach);
}

.registerlog {
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  margin-right: 4vw;
  text-decoration: none;
  background-color: lightcoral;
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.registerlog:hover {
  background-color: darkred;
  color: white;
}

@media (max-width: 550px) {
  .registerlog span {
    content: url("images/icons/icons-logout.png");
    /* width: 60px; */
    vertical-align: -4px;
  }
  .loginlog2 span {
    /* content: url("images/icons//hamburger-16.png"); */
    display: none;
  }

  .loginlog2img {
    margin-right: 4px;
  }
}

@media (max-width: 300px) {
  .loginlog span {
    display: none;
  }
}

.loginlog2img {
  margin-left: 4px;
}

.login {
  margin-left: 1vw;
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login:hover {
  background-color: var(--peach);
}

.loginlog {
  margin-left: 1vw;
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.loginlog:hover {
  background-color: var(--peach);
}

.loginlog img {
  /* background-color: azure; */
  display: inline-block;
  vertical-align: -4px;
}

.loginlog2 {
  margin-left: 1vw;
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.loginlog2:hover {
  background-color: var(--peach);
}

.loginlog2 img {
  /* background-color: azure; */
  display: inline-block;
  vertical-align: -4px;
}

.notiflog {
  margin-left: 1vw;
  border: 1px solid var(--black1);
  border-radius: 15px;
  padding: 1vh 1.5vw;
  text-decoration: none;
  background-color: var(--lipurple);
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.notiflog img {
  display: inline-block;
  vertical-align: -4px;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  /* min-width: 160px; */
  margin-right: 16px;
  width: max-content;
  z-index: 5;
  background-color: var(--white1);
  border: 1px solid var(--dapurple);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: var(--peach);
}

.notfif-drop {
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 5;
}

.notfif-drop a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}
footer {
  background-color: var(--green);
  width: 100%;
  height: 7vh;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

footer .right {
  margin-right: 2vw;
}

footer .left {
  margin-left: 2vw;
}

#home {
  min-height: 86vh;
  position: relative;
  background-image: url(images/naamat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlaydark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hometext {
  color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.regbutton {
  height: 5vh;
  padding: 0.5vh 1vw;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.regbutton:hover {
  background-color: var(--peach);
  /* background-color: rgb(26, 25, 25); */
  color: black;
  /* color: white; */
}

/* NOTIFY */
.notification {
  grid-column: 1 / span 2;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  padding: 1vw;
}

/* REGISTER */

#register {
  background-color: var(--lipurple);
  min-height: 86vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(images/naamat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: auto;
}

.registerForm {
  margin: 10px;
  padding: 5vw;
  max-width: 500px;
  /* max-height: 500px; */
  max-height: max-content;
  border: 1px solid var(--dapurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--white1);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.grid-container > div {
  padding: 0.5vw;
}

.regformbutton {
  grid-column: 1 / span 2;
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.regformbutton:hover {
  background-color: var(--peach);
}

.regformbutton2 {
  grid-column: 1 / span 2;
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.regformbutton2:hover {
  background-color: var(--peach);
}

.regmsg {
  grid-column: 1 / span 2;
  color: red;
  padding: 2px;
}

.regmsg li {
  font-size: smaller;
  font-weight: lighter;
  padding-left: 1vw;
}

.custom-file-input {
  display: inline-block;
  padding: 0.5vw;
  background-color: var(--lipurple);
  border: 1px solid var(--black1);
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-file-input:hover {
  background-color: var(--peach);
}

.file-input {
  display: none;
}

.locationButton {
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.locationButton:hover {
  background-color: var(--peach);
}

#feed {
  background-color: var(--midpeach);
  /* background-color: rgba(0, 0, 0, 0.8); */
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(images/naamat.png);
  /* background-size: cover; */
  background-repeat: repeat-y;
  background-position: center bottom;
  flex-wrap: wrap;
}

.feedCard {
  z-index: 1;
  /* background-color: var(--peach); */
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  max-width: 500px;
  height: 85vh;
  border-radius: 10px;
  font-size: larger;
  background-color: var(--lipeach);
}

.userCard {
  z-index: 1;
  /* background-color: var(--peach); */
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  width: 90vw;
  max-width: 500px;
  height: 80vh;
  border-radius: 10px;
  font-size: larger;
  background-color: var(--lipeach);
}

.userCard > div {
  /* border: 1px solid red; */
  padding: 1vh;
}

.feedCard > div {
  /* border: 1px solid red; */
  padding: 1vh;
}

.cardHeader {
  margin-left: 2vw;
}

.cardImage {
  flex-grow: 3;
  /* min-height: 50vh; */
}

.usercardImage {
  /* flex-grow: 3; */
  min-height: 50vh;
}

.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardInfo {
  margin: 1vh;
  font-size: medium;
  display: grid;
  grid-template-columns: auto auto;
}

.cardInfo > div {
  padding: 0.2vh;
  margin-left: 1.8vw;
}

.cardButtons {
  margin: 2vh;
}

.cardButtons > button {
  padding: 1vh;
  margin: 1vh;
  border-radius: 10px;
}

.matchButton {
  background-color: rgb(127, 202, 127);
}

.matchButton:hover {
  background-color: rgb(83, 188, 83);
}

.passButton {
  background-color: rgb(253, 136, 136);
}

.passButton:hover {
  background-color: rgb(248, 103, 103);
}

.settingsGrid {
  width: 80vw;
  display: grid;
  grid-template-columns: auto auto;
  max-width: 500px;
  gap: 15px;
  margin-right: 5px;
}

.settingsGrid > div {
  max-width: 45vw;
}

.imagelegend {
  max-width: 40vw;
}

@media (max-width: 500px) {
  .settingsGrid {
    grid-template-columns: repeat(1, 1fr);
    /* grid-column: 1 / span 2; */
  }
  .settingsGrid > div {
    min-width: 80vw;
  }
  .imagelegend {
    min-width: 80vw;
  }
}

@media (min-width: 501px) {
  .spangrid,
  .settingsbutton {
    grid-column: 1 / span 2;
  }
}

fieldset {
  border-radius: 5px;
  color: var(--dapurple);
}

fieldset > input {
  width: 90%;
}

fieldset > textarea {
  width: 90%;
}

legend {
  padding: 0 3vw;
}

.settingsbutton {
  padding: 0.5vw;
  background-color: var(--lipurple);
  border-radius: 10px;
}

.registerFormContainer {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Centers the container horizontally */
  position: relative;
}

.likedCard {
  z-index: 1;
  /* background-color: var(--peach); */
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  width: 90vw;
  max-width: max-content;
  height: max-content;
  border-radius: 10px;
  font-size: larger;
  background-color: var(--white1);
}

.likedCard > div {
  padding: 1vh;
  margin-right: 2vw;
}

.smallCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2vw;
}

.profileLink {
  text-decoration: none;
  margin: 3vw;
  width: 200px;
  min-width: 120px;
  /* max-width: max-content; */
  border: 1px solid black;
  border-radius: 5px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--peach);

  /* max-height: 400px; */
}

.profileLink img {
  width: 100%;
}

.filter-content {
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  /* min-width: 160px; */
  margin-left: 16px;
  width: max-content;
  z-index: 5;
  background-color: var(--white1);
  border: 1px solid var(--dapurple);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.filter-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.filter-content a:hover {
  background-color: var(--peach);
}

.sortingCard {
  z-index: 1;
  /* background-color: var(--peach); */
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  width: 90vw;
  min-width: 250px;
  max-width: 600px;
  height: max-content;
  border-radius: 10px;
  font-size: larger;
  background-color: var(--white1);
}

.likedCard > div {
  padding: 1vh;
  margin-right: 2vw;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vw;
}

.cancel-icon {
  cursor: pointer;
}

.sortGrid {
  display: grid;
  grid-template-columns: 20vw auto;
  gap: 10px;
  padding: 1vw;
}

.blink_me {
  animation: blinker 2s linear infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  border-radius: 100%;
}
@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}

#chat {
  background-color: var(--lipeach);
  z-index: 1;
  margin: 2vw;
  width: 90vw;
  height: 80vh;
  border-radius: 12px;
  overflow: hidden;
}

.chatContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: auto auto auto 15%;
  grid-template-areas:
    "sidebar main main"
    "sidebar main main"
    "sidebar main main"
    "text text text";
}

.chatContainer > div {
  border: 1px solid black;
}

.chatNames {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  padding-top: 0.5vh;
}

.chatMatch {
  border-bottom: 1px solid black;
  width: 90%;
  min-height: 10vh;
  max-height: 10vh;
  margin-bottom: 1vh;
  padding: 0.5vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 60% auto;
  grid-template-areas:
    "chatImg chatName"
    "chatMsg chatMsg";
  cursor: pointer;
}

.matchImg {
  grid-area: chatImg;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
}

.matchImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.matchImg img:hover {
  scale: 1.5;
}

.matchName {
  grid-area: chatName;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.2vw;
  font-weight: bold;
  overflow: hidden;
}

.matchMsg {
  grid-area: chatMsg;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.2vw;
  white-space: nowrap;
  overflow: hidden;
}

.matchMsg span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.chatMain {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.chatText {
  grid-area: text;
  display: flex;
  justify-items: center;
  align-items: center;
}

.textSend {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  /* border: 1px solid black; */
}

.textSend input {
  flex-grow: 1;
  padding: 1vh;
  margin-right: 1vw;
}

.textSend button {
  padding: 1vh 2vh;
  border-radius: 5px;
}

.textSend button:hover {
  background-color: var(--peach);
}

.textSend button img {
  height: 14px;
}

.startChatting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: larger;
}

.chatMessagesContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; /* Align messages to the top */
  height: 100%;
  width: 100%;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  padding: 8px;
  width: 100%; /* Ensure the chat messages take the full width */
}

.message {
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  max-width: 80%;
}

.my-message {
  border: 1px solid var(--black1);
  background-color: var(--lipurple); /* User's message background color */
  align-self: flex-end;
}

.other-message {
  border: 1px solid var(--black1);
  background-color: var(--peach);
  align-self: flex-start;
}

.messageSender {
  font-weight: bold;
  margin-right: 4px; /* Add some spacing between sender and message */
  white-space: nowrap; /* Prevent name and message from wrapping to a new line */
}

.messageContent {
  flex-grow: 1; /* Allow message content to take up remaining space */
  white-space: normal; /* Allow message content to wrap normally */
}
